html {
  overflow: hidden;
  height: 100%;
}
body {
  font-size: 13px;
  background: #1f1f1f;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}
small {
  font-size: 85%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 small {
  font-size: 70%;
}

#layer-body {
  font-size: 13px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  position: absolute;
}

#layer-body.viewMenu {
  /*margin-left: 200px;*/
}

#backgroundfont {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#backgroundfont1 {
  background: #1f1f1f;
  z-index: 4;
  height: 100%;
  width: 100%;
  position: absolute;
}

#backgroundfont1.light {
  background: #f1f1f1;
}

#backgroundfont2 {
  z-index: 5;
  height: 100%;
  width: 100%;
}

.container { 
  margin: 0 auto; 
}

fieldset{
  border:none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

/* help dir (div)*/
.help_dir_bottom {
  position: relative;
}
/* help left, input text*/
h2.help_left {
  position: absolute;  top: 0;
  left: 20px;
  font-size: 30px;
  margin: 0;
  width: 300px;
  text-align: left;
}
h2.help_left p {
  float: left;
  margin: 0;
  display:none;
}
h2.help_left small {
  font-size: 50%;
  display:none;
}

/* help right, button search*/
h2.help_right {
  position: absolute;
  top: 0;
  right: 40px;
  font-size: 30px;
  margin: 0;
  width: 200px;
  text-align: right;
}
h2.help_right p {
  float: right;
  margin: 0;
  display:none;
}
h2.help_right small {
  font-size: 50%;
  display:none;
}

.notFound {
  margin-top: 100px;
  font-size: 40px;
}

/* Frame */
.frame {
  /*height: 250px;
  line-height: 250px;*/
  overflow: hidden;
}
.frame ul {
  list-style: none;
  margin: 80px 0 0 0; /*margin: 0;*/
  padding: 0;
  height: 100%;
  /*font-size: 50px;*/
}
.frame ul li {
  float: left;
  /*width: 227px;*/
  height: 100%;
  margin: 0 30px 30px 0;
  padding: 0;
  /*background: #333;*/
  color: #ddd;
  /*text-align: center;*/
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 303px;
}
.frame ul li.active {
  color: #fff;
  /*background: #a03232;*/
}

.cntnt {
  width: 100%;
  height: 100%;
}

.cntnt.zoom {
  margin-top: -50%;
  margin-left: -75%;
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.cntnt.zoom .img{
  width: 100%;
  height: 100%;
}
.cntnt.zoom .infSrc{
  width:570px;
}


/**
*
*
**/

#map {
  position:relative;
  width:100%;
  height:100%;
}

.pageContainer {
  /**/
}

.pageContainer.reSline {
  
}
.pageContainer.reSline .webResult, .pageContainer.reSline .webResultMap{
  width: 100%;
  height: 150px;
}

.pageContainer.reSline .webResult .img, .pageContainer.reSline .webResultMap #map {
  width: 200px;
  height: 150px;
}

.pageContainer.reSline .webResult .infSrc, .pageContainer.reSline .webResultMap .infSrc {
  width: 100%;
  height: 150px;
  margin-left: 200px;
}

.pageContainer.reSline .webResult .infSrc .isD, .pageContainer.reSline .webResultMap .infSrc .isD {
  padding-right: 200px;
}

.pageContainer.reSline .webResult .infSrc .markerResSrc, .pageContainer.reSline .webResultMap .infSrc .markerResSrc,
.pageContainer.reSline .webResult .infSrc .srcThisSite, .pageContainer.reSline .webResultMap .infSrc .srcThisSite {
  right: 210px;
}
.pageContainer.reSline .webResult .infSrc .speechThisSite, .pageContainer.reSline .webResultMap .infSrc .speechThisSite {
  right: 250px;
}

.pageContainer.reSline .cntnt.zoom {
  margin-top: -25%;
  margin-left: -25%;
  width: 50%;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.pageContainer.reSline .cntnt.zoom .img{
  width: 100%;
  height: 100%;
}
.pageContainer.reSline .cntnt.zoom .infSrc{
  margin: 0;
  width: 100%;
  height: 100%;
  max-height: 200px;
}
.pageContainer.reSline .cntnt.zoom .infSrc .isD {
  right: 10px;
}
.pageContainer.reSline .cntnt.zoom .infSrc .markerResSrc,
.pageContainer.reSline .cntnt.zoom .infSrc .srcThisSite {
  right: 10px;
}
.pageContainer.reSline .cntnt.zoom .infSrc .speechThisSite {
  right: 50px;
}


#leftSrcTrg {
  float: left;
  background-color: transparent;
  width: 20px;
  height: 24px;
  padding: 8px 2px;
  margin:0;
  border: 2px solid #fff;
  border-right: none;
  line-height: 1;
  min-width: 15px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
#leftSrcTrg.light {
  border: 2px solid #000;
  border-right: none;
}

#leftSrcTrg_ico {
  opacity: 1;
}

#leftSrcTrg_close {
  color: #f00;
  margin: 0;
  position: absolute;
  /*top: 11px;*/
  left: 5px;
  font-size: 22px;
  display: none;
  cursor: pointer;
}

#layer-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background: #333;
  width: 300px;
  display: block;
}

#nav-button {
  position: absolute;
  z-index: 2000;
  top: 25px;
  left: 10px;
  cursor: pointer;
  color: #999;
}

#nav-button:hover {
  color: #fff;
}

.resView {
  float: left;
  padding: 15px 0px 0px 15px;
}

.resView.actv {
  /*display:none;
  position: relative;
  z-index: 2000;
  top: 10px;
  left: 10px;*/
  cursor: pointer;
  color: #999;
}

.resView-button.actv:hover {
  color: #fff;
}

.nav-up, .nav-menu {
  width: 200px;
  height: 30px;
}

.nav-list-button {
  padding: 10px;
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.nav-list-button > li {
  display: block;
  float: none;
  cursor: pointer;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0;
  border: 1px solid #222222 !important;
  color: #ccc;
}
.nav-list-button > li:hover, .nav-list-button li.active {
  text-decoration: none;
  background-color: #1f1f1f;
  color: #ffffff;
}

.nav-down {
  color:#999;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);position:absolute;bottom:0;font-size:10px;margin-left:10px;
}

#page{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9;
  padding: 0 0 0 10px;
  position: relative;
}

#resultsDiv{
  /*height: 100%;
  overflow-x: hidden;*/
}

#searchForm{
  z-index: 2000;
  transition: top .5s ease-out;
  -moz-transition: top .5s ease-out;
  -o-transition: top .5s ease-out;
  -webkit-transition: top .5s ease-out;
}

#searchForm.cn {
  margin: auto;
  max-width: 600px;
  position: relative;
  top: 35%;
}

#searchForm.fix {
  position: absolute;
  top:10px;
  left:35px;
}

#searchForm.fix input, #searchForm.fix #leftSrcTrg {
  /*-webkit-box-shadow: 0px 0px 15px #fff;
  -moz-box-shadow: 0px 0px 15px #fff;
  box-shadow: 0px 0px 15px #fff;*/
}

.searchForm-visual {
  z-index: 2020;
  position: relative;
}
.searchForm-shadow {
  width: 564px;
  height: 44px;
  position: absolute;
  background-color: #1f1f1f;
  /*top: 5px;*/
  left: 12px;
  border-radius: 4px;
  opacity: .6;
  z-index: 2010;
}
.searchForm-shadow.light {
  background-color: #f1f1f1;
}
#searchForm.cn .searchForm-shadow {
  width: 564px;
}
#searchForm.fix .searchForm-shadow {
  width: 584px;
  -webkit-box-shadow: 0px 0px 15px #fff;
  -moz-box-shadow: 0px 0px 15px #fff;
  box-shadow: 0px 0px 15px #fff;
}

#logosrch {
  text-shadow: 0 0 2px #1f1f1f;
}
#logosrch.light {
  color: #444;
  text-shadow: 0 0 2px #f1f1f1;
}

#clearButton {
  display:none;
  float: left;
  background-color: transparent;
  color: #999;
  width: 17px;
  height: 24px;
  padding: 8px 2px;
  font-size:20px;
  margin: 0 0 0 -1px;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  cursor: pointer;
  line-height: 1;
}
#clearButton.light {
  border: 2px solid #000;
  border-left: none;
  border-right: none;
}

#clearButton:hover {
  color: #f00;
}

#submitButton {
  margin: 0;
  float: left;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: transparent;
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 27px;
  height: 44px;
  cursor:pointer;

  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;

  border: 2px solid #fff;
  border-left: none;
}
#submitButton.light {
  border: 2px solid #000;
  border-left: none;
  color: #000;
}
#submitButton:hover {
  color: #fff;
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#s{
  /* The search text box. */

  color:#fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-left: none;  
  border-right: none;
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:20px;
  height:40px;
  line-height:35px;
  margin-left:-1px;
  outline:medium none;
  padding:0;
  width:500px;
}
#s.light {
  border: 2px solid #000;
  border-left: none;  
  border-right: none;
  color:#444;
}

.autocompl {
  width: 550px;
  font-size: 10px;
  position: absolute;
  padding: 5px;
  background-color: #333;
  z-index: 200;
  margin: 0 10px;
  border-radius: 4px;
  opacity: 0.95;
  display: none;
}
#hlpCompl {
  list-style: none;
  height: 100%;
  padding: 0 10px;
}
#hlpCompl li{
  font-size: 16px;
  padding: 2px 0;
  cursor: pointer;
}
#hlpCompl li:hover{
  background-color: #ccc;
  color: #222;
}

/* Web & news results */


.webResult, .webResultMap{
  margin-bottom:50px;
  z-index: 10;
  position:relative;
  float:left;
  webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
  box-shadow: 0px 0px 10px #000;
}
.webResult h2, .webResultMap h2{
  font-size:18px;
  font-weight:normal;
}
.webResult h2 b, .webResultMap h2 b{ color:#fff; }
.webResult h2 a, .webResultMap h2 a{ color:#eee;border:none;}
.webResult p, .webResultMap p{ line-height:1.5;/*padding:15px 20px;*/}
.webResult p b, .webResultMap p b{ color:white;}
.webResult > a, .webResultMap > a{ margin-left:20px;}
.webResult img, .webResultMap img{
  width: 400px;
  height: 300px;
  background-color:#000;
  border-radius: 2px;
}

.webResult img.ico, .webResultMap img.ico, #leftSrcTrg_ico .ico {
  width:16px;
  height:16px;
  border:none;
  float:left;
  margin: 15px 8px 15px 0;
  background-color:transparent;
}

.webResult .infSrc, .webResultMap .infSrc {
  margin: 0;
  width:370px;
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  background:#333;
  background:rgba(0, 0, 0, 0.75);
  line-height:1;
  overflow: hidden;
  min-height: 10px;
}

.webResult .infSrc .isD, .webResultMap .infSrc .isD {
  padding:15px;
}

.markerResSrc {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #eee;
  opacity: 0.3;
}

.srcThisSite, .speechThisSite {
  display: none;
  margin: 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  padding: 4px 10px;
  cursor:pointer;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #aaa;
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: 32px;
  line-height: .5;
  height: 23px;
  text-align: center;
}
.speechThisSite {
  font-size: 22px;
}

.srcThisSite:hover, .speechThisSite:hover {
  color: #fff;
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}


/* Image & video search results */


.imageResult{
  float:left;
  height:180px;
  margin:0 0 20px 40px;
  text-align:center;
  width:152px;
  overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
  border:1px solid #fff;
  outline:1px solid #777;
  display:block;
  margin:0 auto 15px;
}

p.credit{
  margin:20px 0;
  text-align:center;
}

p.credit a{
  background-color:#4B5A64;
  border:1px solid;
  border-color:#3D4D57 #788E9B #788E9B #3D4D57;
  color:#c0d0d8;
  font-size:10px;
  padding:4px 8px;
  text-shadow:1px 1px 0 #38464F;
}

p.credit a:hover{
  background-color:#38464f;
  border-color:#38464f #788E9B #788E9B #38464f;
}

a, a:visited {
  text-decoration:none;
  outline:none;
  border-bottom:1px dotted #97cae6;
  color:#97cae6;
}

a:hover{
  border-bottom:1px dashed transparent;
}

.clear{
  clear:both;
}

#blackfonscreen {
  z-index: 1050;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .8; 
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  left: 0;
  display:none;
}
#blackfonscreen.zIdx3000 {
  z-index:3000;
}

#winModal {
  display: none;
  z-index: 3010;width: 100%;height: 100%;position: absolute;
}
#winModal .win {
  min-width: 360px; max-width: 600px; height: 50%; margin: 0 auto; background-color: #333; margin-top: 10%; overflow: hidden; padding: 10px; position: relative;
}
#winModalBody {
  overflow-x: hidden;overflow-y: auto;width: 100%;height: 100%; background-color:#1f1f1f;
}
#winModalDown {
  height: 30px;position: fixed;margin-left: 30px;
}
/*#winModal_close {*/
button {
  display: block;
  float: none;
  cursor: pointer;
  line-height: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 2px;
  margin-bottom: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 0;
  border: 1px solid #333 !important;
  color: #ccc;
  background-color: #333;
}


font.fs15{
  font-size:15px;
}


@media (max-width: 399px) {
  #s{
    width: 200px;
  }
  .autocompl {
    width: 250px;
  }
  #searchForm.cn .searchForm-shadow {
    width: 264px;
  }
  #searchForm.fix .searchForm-shadow {
    width: 284px;
  }
  .frame ul li, .webResult img, .webResultMap img{
    width: 300px;
    height: 200px;
  }
  .webResult .infSrc, .webResultMap .infSrc {
    width:300px;
  }
  .cntnt.zoom .infSrc {
    width: 450px;
  }
}

@media (min-width: 400px) and  (max-width: 479px) {
  #s{
    width: 300px;
  }
  .autocompl {
    width: 350px;
  }
  #searchForm.cn .searchForm-shadow {
    width: 364px;
  }
  #searchForm.fix .searchForm-shadow {
    width: 384px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #s{
    width: 330px;
  }
  #searchForm.cn .searchForm-shadow {
    width: 393px;
  }
  #searchForm.fix .searchForm-shadow {
    width: 414px;
  }
  .frame ul li, .webResult img, .webResultMap img{
    width: 300px;
    height: 200px;
  }
  .webResult .infSrc, .webResultMap .infSrc {
    width:300px;
  }
  .cntnt.zoom .infSrc {
    width: 450px;
  }
  .autocompl {
    width: 380px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #s{
    width: 500px;
  }
}
@media (min-width: 980px) {
  #s{
    width: 500px;
  }
  .frame ul li, .webResult img, .webResultMap img{
    width: 300px;
    height: 200px;
  }
  .webResult .infSrc, .webResultMap .infSrc{
    width:300px;
    max-height: 200px;
  }
  .cntnt.zoom .infSrc {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  #s{
    width: 500px;
  }
  .frame ul li, .webResult img, .webResultMap img{
    width: 400px;
    height: 300px;
  }
  .webResult .infSrc, .webResultMap .infSrc{
    width:400px;
  }
  .cntnt.zoom .infSrc {
    width: 600px;
  }
}

/* hack for Firefox*/
@-moz-document url-prefix() { 
  #submitButton {
    padding-top: 0px;
    font-size: 27px;
  }
}
