html {
  overflow: hidden;
  height: 100%;
}
body { 
  background: #1f1f1f;
  font-size: 13px;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0 0 0 10px;
}
small {
  font-size: 85%;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1 small {
  font-size: 70%;
}

.container { 
  margin: 0 auto; 
}

fieldset{
  border:none;
  vertical-align: middle;
  white-space: nowrap;
  display: inline-block;
}

/* help dir (div)*/
.help_dir_bottom {
  position: relative;
}
/* help left, input text*/
h2.help_left {
  position: absolute;  top: 0;
  left: 20px;
  font-size: 30px;
  margin: 0;
  width: 300px;
  text-align: left;
}
h2.help_left p {
  float: left;
  margin: 0;
  display:none;
}
h2.help_left small {
  font-size: 50%;
  display:none;
}

/* help right, button search*/
h2.help_right {
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 30px;
  margin: 0;
  width: 200px;
  text-align: right;
}
h2.help_right p {
  float: right;
  margin: 0;
  display:none;
}
h2.help_right small {
  font-size: 50%;
  display:none;
}

.notFound {
  margin-top: 100px;
  font-size: 40px;
}

/* Frame */
.frame {
  /*height: 250px;
  line-height: 250px;*/
  overflow: hidden;
}
.frame ul {
  list-style: none;
  margin: 80px 0 0 0; /*margin: 0;*/
  padding: 0;
  height: 100%;
  /*font-size: 50px;*/
}
.frame ul li {
  float: left;
  /*width: 227px;*/
  height: 100%;
  margin: 0 30px 30px 0;
  padding: 0;
  /*background: #333;*/
  color: #ddd;
  /*text-align: center;*/
  cursor: pointer;
  position: relative;
  width: 400px;
  height: 303px;
}
.frame ul li.active {
  color: #fff;
  /*background: #a03232;*/
}

.cntnt.zoom {
  margin-top: -50%;
  margin-left: -75%;
  width: 150%;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -webkit-transition: all .5s ease;
}
.cntnt.zoom .img{
  width: 100%;
  height: 100%;
}
.cntnt.zoom .infSrc{
  width:570px;
}


/**
*
*
**/

.pageContainer {
  /**/
}

#leftSrcTrg {
  float: left;
  background-color: #fff;
  height: 19px;
  padding: 8px 2px;
  margin:0;
  border: 1px solid #aaa;
  border-right: none;
  line-height: 1;
  min-width: 15px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

#leftSrcTrg_ico {
  opacity: 1;
}

#leftSrcTrg_close {
  color: #000;
  margin: 0;
  position: absolute;
  top: 14px;
  left: 15px;
  font-size: 22px;
  display: none;
  cursor: pointer;
}

#page{
  height: 100%;
  overflow-x: hidden;
}

#resultsDiv{
  /*height: 100%;
  overflow-x: hidden;*/
}

#searchForm{
  z-index: 2000;
  transition: top .5s ease-out;
  -moz-transition: top .5s ease-out;
  -o-transition: top .5s ease-out;
  -webkit-transition: top .5s ease-out;
}

#searchForm.cn {
  margin: auto;
  max-width: 600px;
  position: relative;
  top: 35%;
}

#searchForm.fix {
  position: fixed;
  top:10px;
}

#searchForm.fix input, #searchForm.fix #leftSrcTrg {
  -webkit-box-shadow: 0px 0px 15px #fff;
  -moz-box-shadow: 0px 0px 15px #fff;
  box-shadow: 0px 0px 15px #fff;
}

#clearButton {
  display:none;
  float: left;
  background-color: #fff;
  color: #999;
  height: 19px;
  padding: 8px 2px;
  font-size:20px;
  margin: 0 0 0 -1px;
  border: 1px solid #aaa;
  border-left: none;
  border-right: none;
  cursor: pointer;
  box-shadow: 0px 0px 15px #fff;
  line-height: 1;
}

#submitButton {
  margin: 0;
  float: left;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 27px;
  height: 37px;
  cursor:pointer;

  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;

  border: 1px solid #aaa;
  border-left: none;
}

#s{
  /* The search text box. */

  color:#555;    

  border: 1px solid #aaa;
  border-left: none;  
  border-right: none;
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:20px;
  height:35px;
  line-height:35px;
  margin-left:-1px;
  outline:medium none;
  padding:0;
  width:500px;
}

.autocompl {
  width: 550px;
  font-size: 10px;
  position: absolute;
  padding: 5px;
  background-color: #333;
  z-index: 200;
  margin: 0 10px;
  border-radius: 4px;
  opacity: 0.95;
  display: none;
}
#hlpCompl {
  list-style: none;
  height: 100%;
  padding: 0 10px;
}
#hlpCompl li{
  font-size: 16px;
  padding: 2px 0;
  cursor: pointer;
}
#hlpCompl li:hover{
  background-color: #ccc;
  color: #222;
}

/* Web & news results */


.webResult{ 
  /*text-shadow:1px 1px 0 #586a75;*/
  margin-bottom:50px;
  z-index: 1;
  position:relative;
  float:left;
}
.webResult h2{
  font-size:18px;
  font-weight:normal;
}
.webResult h2 b{ color:#fff; }
.webResult h2 a{ color:#eee;border:none;}
.webResult p{ line-height:1.5;/*padding:15px 20px;*/}
.webResult p b{ color:white;}
.webResult > a{ margin-left:20px;}
.webResult img{
  width: 400px;
  height: 300px;
  background-color:#000;
  border-radius: 2px;
}

.webResult img.ico, #leftSrcTrg_ico .ico {
  width:16px;
  height:16px;
  border:none;
  float:left;
  margin: 15px 8px 15px 0;
  background-color:transparent;
}

.webResult .infSrc {
  margin: 0;
  width:370px;
  position:absolute;
  right:0;
  bottom:0;
  left:0;
  padding:15px;
  background:#333;
  background:rgba(0, 0, 0, 0.75);
  line-height:1;
}

.srcThisSite {
  display: none;
  margin: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  padding: 4px 10px;
  cursor:pointer;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #aaa;
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: 32px;
  line-height: .5;
  height: 23px;
  text-align: center;
}
.srcThisSite:hover {
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
}


/* Image & video search results */


.imageResult{
  float:left;
  height:180px;
  margin:0 0 20px 40px;
  text-align:center;
  width:152px;
  overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
  border:1px solid #fff;
  outline:1px solid #777;
  display:block;
  margin:0 auto 15px;
}

p.credit{
  margin:20px 0;
  text-align:center;
}

p.credit a{
  background-color:#4B5A64;
  border:1px solid;
  border-color:#3D4D57 #788E9B #788E9B #3D4D57;
  color:#c0d0d8;
  font-size:10px;
  padding:4px 8px;
  text-shadow:1px 1px 0 #38464F;
}

p.credit a:hover{
  background-color:#38464f;
  border-color:#38464f #788E9B #788E9B #38464f;
}

a, a:visited {
  text-decoration:none;
  outline:none;
  border-bottom:1px dotted #97cae6;
  color:#97cae6;
}

a:hover{
  border-bottom:1px dashed transparent;
}

.clear{
  clear:both;
}

#blackfonscreen {
  z-index: 1050;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: .8; 
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  left: 0;
  display:none;
}

font.fs15{
  font-size:15px;
}


@media (max-width: 399px) {
  #s{
    width: 200px;
  }
  .autocompl {
    width: 250px;
  }
}

@media (min-width: 400px) and  (max-width: 479px) {
  #s{
    width: 300px;
  }
  .autocompl {
    width: 350px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #s{
    width: 330px;
  }
  .frame ul li, .webResult img{
    width: 300px;
    height: 200px;
  }
  .webResult .infSrc {
    width:270px;
  }
  .cntnt.zoom .infSrc {
    width: 420px;
  }
  .autocompl {
    width: 380px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #s{
    width: 500px;
  }
}
@media (min-width: 980px) {
  .frame ul li, .webResult img{
    width: 300px;
    height: 200px;
  }
  .webResult .infSrc {
    width:270px;
    max-height: 170px;
    min-height: 100px;
  }
  .cntnt.zoom .infSrc {
    width: 420px;
  }
}
@media (min-width: 1200px) {
  .frame ul li, .webResult img{
    width: 400px;
    height: 300px;
  }
  .webResult .infSrc {
    width:370px;
  }
  .cntnt.zoom .infSrc {
    width: 570px;
  }
}

/* hack for Firefox*/
@-moz-document url-prefix() { 
  #submitButton {
    padding-top: 0px;
    font-size: 27px;
  }
}
